body {
    background-image: url(https://c2.staticflickr.com/2/1339/5126762996_8f0a2138a5_b.jpg);
    background-repeat: no-repeat;
    background-size: 100%, auto;
    background-attachment: fixed;
}

.navBar {
    margin-bottom: 5%;
}

.nav-mobile {
    
}

.container {
    display: flex;
    justify-content: space-around;
}

ul {
    list-style-type: none;
}

.utah {
    float: right;
    margin-right: 8%;
}


.zones {
    display: inline-block;
    padding: 0 2% 0 2%;
    margin-left: 5%;
    font-size: 2em;
    
}

.zoneHead {
    margin: 2% 30%;
    text-align: center;
    background: white;
    border: solid .5px #5d4037;
    border-radius: 3px;
    box-shadow: 3px 3px 3px #5d4037;
}

.zoneHead2 {
    margin: 2% 30%;
    text-align: center;
    background: #5d4037;
    border: solid .5px white;
    border-radius: 3px;
    box-shadow: 1px 1px 1px white;
    color: white;
}




.eachCanyon {
    background-color: white;
    margin: 0 5%;
    border: solid .5px #5d4037;
    border-radius: 3px;
    box-shadow: 3px 3px 3px #5d4037;
    padding: 2%;
}

.eachCanyon div {
    margin-bottom: 1%;
    font-size: 17px;
}

.commentInfo {
    display: inline-flex;
    flex-direction: column;
}

.commentComment {
    display: inline-flex;
    padding-left: 2%;
}

.newZoneForm {
    margin: 0 25%;
    background-color: white;
    border: solid .5px #5d4037;
    border-radius: 3px;
    box-shadow: 3px 3px 3px #5d4037;
    padding-top: 1%;
    margin-bottom: 2%;
}

#nav-mobile {
    margin-right: 2%;
    padding: 0 1%;
}

.canSubBut {
    margin-bottom: 1%;
}

.editZoneButt {
    float: right;
    margin: 3% 6%;
}

.commentButton {
    margin-left: 6%;
}

.editZoneForm {
    position: fixed;
    top: 10%;
    width: 50%;
}

.editCanyonForm {
    position: fixed;
    top: 10%;
    left: 25%;
    width: 50%;
    background-color: white;
    border: solid .5px #5d4037;
    border-radius: 3px;
    box-shadow: 3px 3px 3px #5d4037;
}


.loginPop {
    text-align: center;
}

.facelog {
    height: 150px;
}

.weath {
    display: inline-flex;
    flex-direction: column;
    margin: 2% 2%;
    text-align: center;
    background: white;
    border: solid .5px #5d4037;
    border-radius: 3px;
    box-shadow: 3px 3px 3px #5d4037;
    padding: 1%;
}

.centerPlz {
    text-align: center;
}

.listCanyons {
    display: inline-flex;
    background-color: white;
    border: solid .5px #5d4037;
    border-radius: 3px;
    box-shadow: 3px 3px 3px #5d4037;
    padding: 1%;
    width: 30%;
    justify-content: space-around;
}

.commentBox {
    background-color: white;
    color: #5d4037;
    margin: 1% 5%;
    padding: 1%;
    border: solid .5px #5d4037;
    border-radius: 3px;
    box-shadow: 3px 3px 3px #5d4037;
    display: flex;
}

.commentForm {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.commentForm div div {
    text-align: right;
}

.commentForm textarea {
    margin-left: 2%;
    width: 75%;
    height: 13em;
}

.bigC {
    margin-bottom: 1%;
}