body {
    background-color: #e0dadc;
}

nav {
    background-color: #4c0307;
    height: 56px;
    margin-bottom: 0;
}

nav div {
    display: inline;
    margin: 0 3%;
}

nav div img {
    margin-right: 4px;
}

nav div:last-child {
    float: right;
    display: none;
}

.intro {
    width: 100vw;
    opacity: 0.95;
    background-color: #4c0307;
    margin-top: 0;
    color: #FFF;
}

.intro p {
    margin-top: 0;
    width: 45%;
    padding: 2% 3%;
}

h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 48px;
    font-weight: 900;
    color: #330506;
    margin-left: 3%;
    margin-top: 4%;
    width: 29vw;
}

h3 {
    font-family: 'Roboto', sans-serif;
    font-size: 48px;
    font-weight: 400;
    color: #330506;
    margin-left: 4%;
    margin-top: 4%;
}

.titles {
    display: flex;
}

.zoneCanyon {
    display: flex;
}

.zoneList {
    display: flex;
    flex-direction: column;
    margin-left: 3%;
}

.zoneList div {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1;
    color: #ffffff;
    background-color: #4c0307;
    opacity: .95;
    padding: 4%;
    width: 29vw;
    margin: 0 0 2px 0;
}



.canyons {
    display: flex;
    flex-wrap: wrap;
    margin-left: 4%;
    width: 71vw;
}

.canyons div {
    width: 20vh;
    max-width: 20vh;
    height: 20vh;
    margin-right: 4%;
    margin-bottom: 4%;
    color: white;
    padding-left: 2%;
    padding-top: 3%;
    font-family: Roboto;
    font-size: 24px;
    letter-spacing: 1.1px;
    background-image: url(./img/292584.jpg);
}

#rating {
    color: rgba(255, 255, 255, 0.7);
}

.canyonTop {
    background: 
        linear-gradient(
          rgba(0,0,0,0.5),
          rgba(0,0,0,0.5)
        ),
        url(./img/292584.jpg);
    
    margin-top: 0;
}

h1 {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 48px;
    font-weight: 700;
    line-height: 1;
    letter-spacing: 2.3px;
    color: #fff;
    padding: 2% 0 0 3%;
}

.rating {
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 1;
    letter-spacing: 1.5px;
    color: #fff;
    padding-left: 3%;
    margin: .5% 0 0 0;
}

.description {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.39;
    letter-spacing: .8px;
    color: #fff;
    padding: 0 0 1.5% 3%;
    margin: 1% 0 0 0;
    width: 49%;
}

.back {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0.8px;
    color: #4b0206;
    margin: 1% 0 0 3%;
}

.canyonContent {
    display: flex;
    justify-content: flex-start;
}

.howTo {
    margin: 0 3%;
    width: 49%;
}

.howTitle {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.39;
    letter-spacing: 1.4px;
    color: #424242;
}

.paragraph {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.39;
    letter-spacing: 0.8px;
    color: #424242;
}

li {
    font-family: Roboto;
    font-size: 18px;
    line-height: 1.39;
    letter-spacing: 0.8px;
    color: #424242;
}

.buy {
    width: 134px;
    height: 50px;
    border-radius: 2px;
    background-color: #490206;
    border: none;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: .8px;
    color: #ffffff;
}

.general {
    font-family: Roboto;
    font-size: 48px;
    font-weight: bold;
    letter-spacing: 2.3px;
    color: #424242;
}

.descriptor {
    padding: 0 0 0 3%;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.39;
    letter-spacing: .8px;
    color: #424242;
}

.smallInput {
    width: 333px;
    height: 50px;
    border-radius: 2px;
    background-color: #ffffff;
    margin: -1% 0 0 3%;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: .8px;
    color: #757575;
    line-height: 50px;
    padding-left: 10px;
    
}

.largeInput {
    width: 599px;
    height: 159px;
    border-radius: 2px;
    background-color: #ffffff;
    margin: -1% 0 0 3%;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: .8px;
    color: #757575;
    padding: 10px;
}

.pickOne {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding-left: 3%;
}

.pickOne div {
    width: 94px;
    height: 50px;
    border-radius 2px;
    background-color: #fff;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 500;
    line-height: 50px;
    letter-spacing: .8px;
    text-align: center;
    color: #424242;
    margin: 0 2% 2% 0;
}

.highlighted {
    border: solid 2px #4c0307;
}

.next {
    width: 143px;
    height: 50px;
    border-width: 0;
    border-radius: 2px;
    background-color: #490206;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: .8px;
    color: #ffffff;
    float: right;
    margin: 10px 30px 10px 0;
}

.pickZone {
    width: 333px;
    margin-left: 3%;
    display: block;
}

.zoneInput {
    width: 29vw;
    height: 50px;
    border-radius: 2px;
    background-color: #ffffff;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: .8px;
    color: #757575;
    line-height: 50px;
    padding-left: 4%;
    display: none;
}

.zoneBtn {
    width: 143px;
    height: 50px;
    border-radius: 2px;
    border-width: 0;
    background-color: #490206;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: .8px;
    display: none;
}