<h1 class="general">General</h1>

<p class="descriptor">Trail Name</p>
<p contenteditable="true" class="smallInput" ng-model="newCanyon.name"></p>

<p class="descriptor">Zone</p>
<select class="pickZone" ng-model="selectedZone" ng-options="zone._id as zone.name for zone in zones" class="browser-default
"></select>

<p class="descriptor">Description</p>
<p contenteditable strip-br="true" class="largeInput" ng-model="newCanyon.description">Describe the features and highlights of the trail.</p>

<p class="descriptor">The Hike</p>
<p contenteditable="true" class="largeInput" ng-model="newCanyon.hike">Explain how to get from the trailhead to the canyon, obstacles you will encouter, and how to exit.</p>

<p class="descriptor">How to get there</p>
<p contenteditable="true" class="largeInput" ng-model="newCanyon.drive">Directions on how to drive there.</p>

<p class="descriptor">Latitude</p>
<p contenteditable="true" class="smallInput" ng-model="newCanyon.latitude"></p>

<p class="descriptor">Longitude</p>
<p contenteditable="true" class="smallInput" ng-model="newCanyon.longitude"></p>


<button class="next" ng-click="toSecond()">Next</button>