<h1 class="general">Rating</h1>

<p class="descriptor"> Technical Classification</p>
<div class="pickOne">
    <div toggle-class="highlighted" ng-click="setTech(1)">1</div>
    <div toggle-class="highlighted" ng-click="setTech(2)">2</div>
    <div toggle-class="highlighted" ng-click="setTech(3)">3</div>
    <div toggle-class="highlighted" ng-click="setTech(4)">4</div>
</div>


<p class="descriptor">Water</p>
<div class="pickOne">
    <div toggle-class="highlighted" ng-click="setWater('A')">A</div>
    <div toggle-class="highlighted" ng-click="setWater('B')">B</div>
    <div toggle-class="highlighted" ng-click="setWater('C')">C</div>
</div>
<p class="descriptor">Time</p>
<div class="pickOne">
    <div toggle-class="highlighted" ng-click="setTime('I')">I</div>
    <div toggle-class="highlighted" ng-click="setTime('II')">II</div>
    <div toggle-class="highlighted" ng-click="setTime('III')">III</div>
    <div toggle-class="highlighted" ng-click="setTime('IV')">IV</div>
    <div toggle-class="highlighted" ng-click="setTime('V')">V</div>
    <div toggle-class="highlighted" ng-click="setTime('VI')">VI</div>
</div>

<p class="descriptor">Additional Risk</p>
<div class="pickOne">
    <div toggle-class="highlighted" ng-click="setRisk('R')">R</div>
    <div toggle-class="highlighted" ng-click="setRisk('X')">X</div>
    <div toggle-class="highlighted" ng-click="setRisk('None')">None</div>
</div>

<button class="next" ng-click="submit()">Submit</button>

<!--
<p class="descriptor">Quality</p>
<div class="pickOne">
    <div>1</div>
    <div>2</div>
    <div>3</div>
</div>-->
