<h1 class="zoneHead2">Add Canyon</h1>
 
<div class="row newZoneForm">

    <form class="col s12 canyonForm">
        <div class="row">
            <div class="input-field col s6">
                <input id="canyon_name" type="text" ng-model="canyonData.name">
                <label for="canyon_name">Canyon Name</label>
            </div>
            <div class="input-field col s6">
                <select ng-model="canyonData.zoneId" ng-options="zone._id as zone.name for zone in zones" class="browser-default">
                </select>
            </div>
        </div>
        
        <div class="row">
            <div class="input-field col s12">
                <input id="canyon_desc" type="text" ng-model="canyonData.description">
                <label for="canyon_desc">Description</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s6">
                <input id="rating_input" type="text" ng-model="canyonData.difficulty">
                <label for="rating_input">Rating</label>
            </div>
            <div class="input-field col s6">
                <input id="quality_input" type="text" ng-model="canyonData.rating">
                <label for="quality_input">Quality 1 to 5</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <input id="hike_input" type="text" ng-model="canyonData.approach">
                <label for="hike_input">Description to get to canyon entrance</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <input id="drive_input" type="text" ng-model="canyonData.arrive">
                <label for="drive_input">Where to drive to</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <input id="gear_input" type="text" ng-model="canyonData.gear">
                <label for="gear_input">Required gear</label>
            </div>
        </div>
        <button class="btn waves-effect waves-light canSubBut" type="submit" name="action" ng-click="addCanyon()">Submit </button>
    </form>
</div>